<script src = "/assets/js/datepicker.js" > </script>
<link href="/assets/css/datepicker.css" rel="stylesheet" type="text/css">
<link href="/assets/css/custom_tailwind.css" rel="stylesheet" type="text/css">
<script src = "/assets/js/tailwind-3.js" > </script>


<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    
    
    <div class="w-full text-center block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">

        <a href="#responsive-header" class="block mt-4 text-white lg:inline-block lg:mt-0 text-lg hover:text-white mr-4">
            <h2> Add Staff </h2>
        </a>

        <a href="/home/sale" class="block mt-4 text-white lg:inline-block lg:mt-0 text-lg hover:text-white mr-4">
            <h2> Today Sale </h2> 
        </a>


        <a href="#responsive-header" class="block mt-4 text-white lg:inline-block lg:mt-0 text-lg hover:text-white mr-4">
            <h2> Today Purchase </h2> 
        </a>

        <a href="#responsive-header" class="block mt-4  text-white lg:inline-block lg:mt-0 text-lg hover:text-white">
            <h2> Inventory </h2>
        </a>

      </div>
      
      
    </div>
  </nav>


