<div>
    <div>
        User Age: 12
        <%
         for( let product of prods) { %>

             <h2> <%= product.id %>:  <%= product.name %> </h2> 
          <% } %> 
        %>
    </div>
</div>